* {
    box-sizing: border-box;
  }


  p{
    padding: 0;
    margin: 0;
  }
img{
  display: block;
}

  .container{
    width: 100%;
    height: 30px;
    
  }
.search-form{
  background-color: white;  
  position: fixed;  
  top: 0;  
  z-index: 100;  
  width: 100%;
  margin-bottom: 20px;
text-align: center;
}

.input{
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.submit-btn{
  color: white;
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
  text-align: center;
  padding: 5px 20px;
  border-radius: 4px;
  border: rgba(33, 150, 243, 1);
}

.load-more{
  display: flex;
  color: white;
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
  text-align: center;
  padding: 5px 20px;
  border-radius: 4px;
  border: rgba(33, 150, 243, 1);
  margin: 0 auto;
  margin-top: 15px;
}
.is-hidden{
display: none;
  }

.photo-card{
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.gallery{
  margin-top: 35px;
  display: flex;
  gap:83px;
  flex-wrap: wrap;
}

.gallery__link{
  text-decoration: none;
}